@using Foro.Helpers
@using Foro.Models
@using Foro.Controllers
@using Foro.ViewModels


@model Foro.Models.Pregunta

@{
    ViewData["Title"] = "Editar";
}
@if (User.IsInRole(Config.MiembroRolName))
{

    <h1 style="color: #A65341">Editar</h1>

    <h4>Pregunta</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PreguntaId" />

                <div class="form-group">
                    <label asp-for="EntradaId" class="control-label"></label>
                    <select asp-for="EntradaId" class="form-control" asp-items="ViewBag.EntradaId"></select>
                    <span asp-validation-for="EntradaId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label"></label>
                    <textarea asp-for="Descripcion" class="form-control"></textarea>
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Activa" class="control-label"></label>
                    <select asp-for="Activa" class="form-control">
                        <option value="true">Activa</option>
                        <option value="false">Inactiva</option>
                    </select>
                    <span asp-validation-for="Activa" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Editar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Volver a la lista</a>
    </div>




}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
