################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Foro-Sol/.vs/Foro-Sol/FileContentIndex/48367878-d973-4876-824f-b570c52a7155.vsidx
/Foro-Sol/.vs/Foro-Sol/FileContentIndex/49a5de3e-67a8-43e5-9ef8-73256b34beeb.vsidx
/Foro-Sol/.vs/Foro-Sol/FileContentIndex/8818b937-00ec-4b70-8e5e-d6147ca4382e.vsidx
/Foro-Sol/.vs/Foro-Sol/FileContentIndex/cb383e74-1721-4c62-8778-60873dcbc7e9.vsidx
/.vs/slnx.sqlite
/Foro-Sol/.vs/Foro-Sol/v17/.suo
/Foro-Sol/Foro/obj/Debug/net6.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/Foro-Sol/.vs/Foro-Sol/FileContentIndex/04d83d21-c394-417a-8576-464184d1eb6f.vsidx
/Foro-Sol/Foro/obj/Debug/net6.0/apphost.exe
/Foro-Sol/Foro/Models/Entrada.cs
/Foro-Sol/Foro/obj/Debug/net6.0/scopedcss/projectbundle/Foro.bundle.scp.css
/Foro-Sol/Foro/obj/Debug/net6.0/Foro.csproj.FileListAbsolute.txt
/Foro-Sol/Foro/bin/Debug/net6.0/Foro.deps.json
/Foro-Sol/Foro/obj/Debug/net6.0/Foro.dll
/Foro-Sol/Foro/obj/Debug/net6.0/staticwebassets.pack.json
/Foro-Sol/Foro/obj/Debug/net6.0/staticwebassets.build.json
/Foro-Sol/Foro/obj/Debug/net6.0/staticwebassets.development.json
/Foro-Sol/Foro/obj/Debug/net6.0/staticwebassets/msbuild.Foro.Microsoft.AspNetCore.StaticWebAssets.props
/Foro-Sol/Foro/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.Foro.props
/Foro-Sol/Foro/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.Foro.props
/Foro-Sol/Foro/obj/Debug/net6.0/staticwebassets/msbuild.build.Foro.props
/Foro-Sol/Foro/bin/Debug/net6.0/Foro.pdb
/Foro-Sol/Foro/obj/Debug/net6.0/Foro.MvcApplicationPartsAssemblyInfo.cache
/Foro-Sol/Foro/obj/Debug/net6.0/Foro.genruntimeconfig.cache
/Foro-Sol/Foro/bin/Debug/net6.0/Foro.exe
/Foro-Sol/Foro/obj/Debug/net6.0/Foro.pdb
/Foro-Sol/Foro/obj/Debug/net6.0/refint/Foro.dll
/Foro-Sol/.vs/Foro-Sol/config/applicationhost.config
/Foro-Sol/.vs/Foro-Sol/FileContentIndex/e3a6cfb0-b049-4891-ae04-5bcccab38fde.vsidx
/Foro-Sol/Foro/bin/Debug/net6.0/appsettings.Development.json
/Foro-Sol/Foro/bin/Debug/net6.0/appsettings.json
/Foro-Sol/Foro/bin/Debug/net6.0/Foro.dll
/Foro-Sol/Foro/bin/Debug/net6.0/Foro.runtimeconfig.json
/Foro-Sol/Foro/bin/Debug/net6.0/Foro.staticwebassets.runtime.json
/Foro-Sol/Foro/obj/Debug/net6.0/Foro.csproj.CoreCompileInputs.cache
/Foro-Sol/Foro/obj/Debug/net6.0/ref/Foro.dll
/Foro-Sol/Foro/obj/Debug/net6.0/scopedcss/bundle/Foro.styles.css
