################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Foro-Sol/.vs/Foro-Solucion-Landa/FileContentIndex
