################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Foro-Sol/.vs/Foro-Sol/FileContentIndex/48367878-d973-4876-824f-b570c52a7155.vsidx
/Foro-Sol/.vs/Foro-Sol/FileContentIndex/49a5de3e-67a8-43e5-9ef8-73256b34beeb.vsidx
/Foro-Sol/.vs/Foro-Sol/FileContentIndex/8818b937-00ec-4b70-8e5e-d6147ca4382e.vsidx
/Foro-Sol/.vs/Foro-Sol/FileContentIndex/cb383e74-1721-4c62-8778-60873dcbc7e9.vsidx
/.vs/slnx.sqlite
