@using Foro.Models
@using Foro.ViewModels
@{
    ViewData["Title"] = "AccesoDenegado";
    bool hayReturnUrl = !string.IsNullOrEmpty(ViewBag.returnUrl);
}

<div>
    <h1 style="font-family: 'Bebas Neue', sans-serif; color: white;">
        No tiene permisos suficientes  @if (hayReturnUrl)
        {
            <span> para  acceder @ViewBag.returnUrl</span>
        }
    </h1>


    <img src="~/img/acceso denegado-01.png" alt="acceso denegado" style="width: 140px; height: 140px">
  </div>
