
@{
    ViewData["Title"] = "AccesoDenegado";
    bool hayReturnUrl = !string.IsNullOrEmpty(ViewBag.returnUrl);
}

<div>
    <h1>
        No tiene permisos suficientes  @if (hayReturnUrl)
        {
            <span> para  acceder @ViewBag.returnUrl</span>
        }
    </h1>


    <img src="~/img/loco.jpg" alt="acceso denegado" style="width: 50px; height: 60px; border-radius: 60%;">
¡Acceso denegado!    </div>
