/*@media (max-width:1200px ) {
    .imgMain {*/
        /*height: 500px;*/
        /*width: 600px;
    }
}*/


/*@media (max-width:760px ) {
    .imgMain {
        height: 250px;
        width: 100%;
    }
}*/
/*
@media (max-width:570px ) {
    .imgMain {
        height: 100px;
        width: 350px;
    }
}*/



.imgMain {
    height: stretch;
    width: 800px;
}

main p{
    margin-top:25px;
}

.column {
    display: table-cell;
    margin-left: 0px;
    padding: 0px;
    margin-right: 0px;
    column-gap: 0px;
    width: 12.5%;
}

    .column img {
        width: 100%;
        height: 200px;
        vertical-align: top;
        border: 1px solid black;
        -webkit-border-radius:  0px 0px 25px 25px;
        -webkit-transition: -webkit-transform 0.5s ease 0.01s;
    }

        .column img:hover {
            padding-top: 0px;
            transform: scale(1.25) skewY(-10deg);
            -webkit-transition: -webkit-transform 0.5s ease 0.01s;
            margin-top: 0px;
            border: 3px solid black;
            -webkit-border-radius:  0px 0px 25px 25px;
            box-shadow: gray 5px 5px 25px;
            background: -moz-linear-gradient(top, #00F,#3ff);
        }

.bg-white {
    background-color: #031430!important;        
}

.text-dark {
    color: #FFE5B4;
}
a.text-dark:hover{
    color:yellow!important;
}

.table {
    color: white
}

body {
    /* Margin bottom by footer height */
    background-image: url(../img/bg.jpg);
    background-repeat: repeat-y;
    background-position: center;
    margin: 0;    
    color: white
}

a {
    color: #b2e13e;
}

.navbar-brand {
    background: url(../img/Garage.ico.jpg) no-repeat;
    background-size: 40px 40px;
    height: 40px;
    margin: 0px;
    width: 40px;
}



.btn-color-selector {
    padding:0 0 0 0;
}

.fotoChica {
    height: 30px;
    width: 30px;
}

.foto-grilla {
    height: 100px;
    width: 100px;
}

.foto-detalles {
    height: 225px;
    width: 225px;
}

.foto-Edit {
    border: solid 1px;
    border-radius: 25px;
    height: 60px;
    width: 60px;
}
/**/