body {
    background-image: linear-gradient(to bottom right, #FFBE98, #FFBE98); /* Cambia los colores según tu preferencia */
}



.navbar-brand {
    background: url('../img/NARANJA-03.png') no-repeat;
    background-size: 40px 50px;
    height: 50PX;
    width: 50px;
    margin: 50px;
}
.navbar .nav-link:hover {
    color: purple; /* Cambia el color del texto a púrpura cuando se pasa el mouse sobre el enlace */
}
a {
    color: #0366d6;
}
.peach-button {
  background-color: peachpuff; /* Seleccionamos un tono de peach */
  color: #333; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno del botón */
  font-size: 16px; /* Tamaño del texto */
  border: none; /* Quitamos el borde del botón */
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer; /* Cambiamos el cursor al pasar por encima */
  transition: background-color 0.3s ease; /* Agregamos una transición suave al color de fondo */
}

.peach-button:hover {
  background-color: #ffa07a; /* Cambiamos el color de fondo al pasar el mouse */
}

.btn-purple {
    color: #fff;
    background-color: #800080; /* Código hexadecimal para el color púrpura */
    border-color: #800080; /* Puedes ajustar esto según tus preferencias */
}

 .btn-purple:hover {
     background-color: #6a006a; /* Color de fondo cuando se pasa el mouse */
     border-color: #6a006a; /* Color del borde al pasar el mouse */
  }


.btn-primary {
    color: #fff;
    background-color: #ff006e;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html {
    font-size: 14px;
}


.azucar-group {
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
    text-align: center; /* Alinea el texto al centro */
}

.buttons {
    margin-top: 10px; /* Espacio entre el título y los botones */
}

    .buttons a {
        display: block; /* Hace que los botones se muestren como bloques para ocupar todo el ancho disponible */
        margin-bottom: 10px; /* Espacio entre los botones */
    }

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
