@model Foro.HomeController
@{
    ViewData["Title"] = "Nuestra Historia";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <style>
        h1 {
            margin-bottom: 2cm;
        }
        /* Estilo para justificar el texto del cuerpo */
        .body-text {
            text-align: justify;
        }
    </style>
</head>
<body>
    <h1 style="color: #A65341">Azúcar Group</h1>

    <div>
        <h3 class="body-text" style="font-size: 16px; line-height: 1.5;">
            <p>"Nuestro viaje periodístico y publicitario comenzó en el 2015, cuando un grupo de jóvenes periodistas, publicitarios y escritores se unieron con la visión de ofrecer una perspectiva fresca y valiente sobre las noticias locales e internacionales.</p>
            <p>Así nació Azúcar, un proyecto que desde sus inicios se ha consolidado como una voz confiable y respetada en el mundo de la información.</p>
            <p>Azúcar es mucho más que un sitio web, es una plataforma informativa que ofrece una amplia gama de servicios centrados en la actualidad: desde reportajes de investigación y cobertura en tiempo real de eventos de importancia global, hasta análisis profundos sobre temas políticos, económicos y sociales.</p>
            <p>Además, contamos con una sección especial dedicada a la cultura, las artes y el entretenimiento.</p>
            <p>En Azúcar, entendemos que la información es poder y que el periodismo de calidad es fundamental para una sociedad informada.</p>
            <p>Por eso, estamos "libres de azúcar", esto significa que cada artículo que publicamos, cada noticia que compartimos, es libre de subjetividades, publicamos 100% noticias y esperamos que cada lector ponga su propio azúcar a la información."</p>

        </h3>
        <h4 style="font-size: 14px; font-weight: normal; margin-top: 40px;">
            <img src="~/img/foto-r.jpeg" alt="Foto de Débora Landa" style="width: 90px; height: 100px; margin-right: 10px; margin-right: 10px; border-radius: 50%;" >
            Débora Landa - Publicitaria de Azúcar Group.
        </h4>

     
    </div>
</body>
</html>
