@model Foro.HomeController

@{
    ViewData["Title"] = "Contacto";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto </title>
    <!-- Agrega aquí tus enlaces a archivos CSS si es necesario -->
</head>
<body>
    <h1>Contacto</h1>

    <h2>Departamento de Redacción</h2>
    <p>Email: <a href="mailto:miembro@ort.edu.ar">miembro@ort.edu.ar</a></p>

    <h2>Información General</h2>
    <p>Email: <a href="mailto:info@ort.edu.ar">info@ort.edu.ar</a></p>

    <h2>Departamento Comercial</h2>
    <p>Email: <a href="mailto:comercial@ort.edu.ar">comercial@ort.edu.ar</a></p>

   

    <h2>Dirección</h2>
    <p>Av. Cabildo y Juramento<br> Buenos Aires, Argentina</p>

    <img src="~/img/cab y juramento.png" alt="Cab y Juramento" style="width: 500px; height: 400px; margin-right: 10px; ">

    
</body>
</html>