@{
    ViewData["Title"] = "Foro";
}

 <div class="text-center">
  @* <h1 class="display-4">BIENVENIDO A</h1> *@ 
        <img src="~/img/AZUCAAr-blanco-01.png" width="500" height="500" />
 
</div>
<h1 class="text-center">EL VERDADERO SABOR DE LA INFORMACIÓN</h1>
  
@if(ViewBag.Mensaje != null)
{
    <div>
        <p class="text-info">@ViewBag.Mensaje</p>
    </div>
}

<@* div class="card-deck">
    <div class="card text-center border-primary">
        <div class="card-body">
            <h5 class="card-title">Conocenos</h5>
            <p class="card-text">Datos reales 24/7</p>
            <a asp-controller="Home" asp-action="Informacion" class="btn btn-primary">SUSCRIBITE</a>
        </div>
    </div> 
   </div> *@ 
