@model Foro.HomeController
@{
    ViewData["Title"] = "Foro";
}

<div class="text-center mt-5 mb-4">
       @*  <img src="~/img/naranjaa-11.png" width="400" height="500" /> *@
    <img src="~/img/naranjaa-11.png" width="400" height="500" />
</div>
 <h6 class="text-center" style="color: white">EL VERDADERO SABOR DE LA INFORMACIÓN</h6>

@*  <div class="card-deck">
    <div class="card text-center border-primary">
        <div class="card-body">
            <h5 class="card-title">Conocenos</h5>
            <p class="card-text">Datos reales 24/7</p>
            <a asp-controller="Home" asp-action="Informacion" class="btn btn-primary">SUSCRIBITE</a>
        </div>
    </div>
   </div>  *@

@if(ViewBag.Mensaje != null)
{
    <div>
        <p class="text-info">@ViewBag.Mensaje</p>
    </div> 
}


