@using Foro.Models
@using Foro.Controllers
@using Foro.ViewModels
@model Foro.ViewModels.Home
@{
    ViewData["Title"] = "Foro";
}

<div class="text-center mt-5 mb-4">
    <img src="~/img/naranjaa-11.png" width="400" height="500" />
</div>

<h6 class="text-center" style="color: white">EL VERDADERO SABOR DE LA INFORMACIÓN</h6>

@if (ViewBag.Mensaje != null)
{
    <div>
        <p class="text-info">@ViewBag.Mensaje</p>
    </div>
}


