@{
    ViewData["Title"] = "Home";
}
 <div class="text-center">
  @* <h1 class="display-4">BIENVENIDO A</h1> *@ 
        <img src="~/img/AZUCAR-CUADRAD0-N.png" width="400" height="400" />
 
</div>
<h1 class="text-center">EL VERDADERO SABOR DE LA INFORMACIÓN</h1>
  
 
<@* div class="card-deck">
    <div class="card text-center border-primary">
        <div class="card-body">
            <h5 class="card-title">Conocenos</h5>
            <p class="card-text">Datos reales 24/7</p>
            <a asp-controller="Home" asp-action="Informacion" class="btn btn-primary">SUSCRIBITE</a>
        </div>
    </div> 
   </div> *@ 
