<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title style="font-family: 'Bebas Neue', sans-serif; color: white;">
        @ViewData["Title"] | Azúcar
    </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/MisEstilos.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid" style="background-color:#ffa07a">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (singInManager.IsSignedIn(User))
                        {

                            if (!User.IsInRole(Config.Administrador))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="~/img/azucar-logo-blanco-cuadrado.png" alt="Logo Azucar" style="width: 100px; height: 50px;" />
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #A65341 ;">
                                        <li><a class="dropdown-item text-white" asp-controller="Categorias" asp-action="Index">Categorías</a></li>
                                        <li><a class="dropdown-item text-white" asp-controller="Entradas" asp-action="Index">Entradas</a></li>
                                        <li><a class="dropdown-item text-white" asp-area="" asp-controller="Miembros" asp-action="Index">Miembros</a></li>
                                        <li><a class="dropdown-item text-white"  asp-controller="MiembrosHabilitados" asp-action="Index">Miembros Habilitados</a></li>
                                        <li><a class="dropdown-item text-white" asp-controller="Preguntas" asp-action="Index">Preguntas</a></li>
                                        <li><a class="dropdown-item text-white" asp-controller="Respuestas" asp-action="Index">Respuestas</a></li>
                                        <li><a class="dropdown-item text-white" asp-controller="Reacciones" asp-action="Index">Reacciones</a></li>
                                        <li><a class="dropdown-item text-white" asp-controller="Home" asp-action="Tops">Tops</a></li>
                                        <li><a class="dropdown-item text-white" id="botonAbout" asp-action="AboutUs" asp-controller="Home">Sobre nosotros</a></li>
                                        <li><a class="dropdown-item text-white" id="botonContact" asp-action="Contact" asp-controller="Home">Contacto</a></li>

                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="~/img/azucar-logo-blanco-cuadrado.png" alt="Logo Azucar" style="width: 100px; height: 50px;" />
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #A65341 ;">
                                        <li><a class="dropdown-item text-white" asp-controller="Categorias" asp-action="Index">Categorías</a></li>
                                        <li><a class="dropdown-item text-white" asp-controller="Entradas" asp-action="Index">Entradas</a></li>
                                        <li><a class="dropdown-item text-white" asp-controller="Usuarios" asp-action="Index">Usuarios</a></li>
                                        <li><a class="dropdown-item text-white" asp-controller="Home" asp-action="Tops">Tops</a></li>
                                        <li><a class="dropdown-item text-white" id="botonAbout" asp-action="AboutUs" asp-controller="Home">Sobre nosotros</a></li>
                                        <li><a class="dropdown-item text-white" id="botonContact" asp-action="Contact" asp-controller="Home">Contacto</a></li>
                                    </ul>
                                </li>
                            }

                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="container">
                                    <div class="row justify-content-start">
                                        <div class="col-md-12">
                                            <div class="btn-group" role="group" aria-label="Boton cerrar de sesión">
                                                <form asp-area="" asp-controller="Account" asp-action="CerrarSesion" method="get">
                                                    <button type="submit" class="btn pink-button btn-sm">Cerrar sesión</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <li class="nav-item">
                                    <span class="nav-link text-white-50">
                                        <small class="align-text-top">Tu usuario: @User.Identity.Name</small>
                                    </span>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="~/img/azucar-logo-blanco-cuadrado.png" alt="Logo Azucar" style="width: 100px; height: 50px;" />
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #A65341 ;">
                                    <li><a class="dropdown-item text-white" asp-controller="Categorias" asp-action="Index">Categorías</a></li>
                                    <li><a class="dropdown-item text-white" asp-controller="Entradas" asp-action="Index">Entradas</a></li>
                                    <li><a class="dropdown-item text-white" asp-controller="Home" asp-action="Tops">Tops</a></li>
                                    <li><a class="dropdown-item text-white" id="botonAbout" asp-action="AboutUs" asp-controller="Home">Sobre nosotros</a></li>
                                    <li><a class="dropdown-item text-white" id="botonContact" asp-action="Contact" asp-controller="Home">Contacto</a></li>
                                </ul>
                            </li>
                            <div class="container">
                                <div class="row justify-content-start">
                                    <div class="col-md-12">

                                        <div class="btn-group" role="group" aria-label="Botones de registro e inicio de sesión">
                                            <!-- Botón de registro -->
                                            <form asp-area="" asp-controller="Account" asp-action="Registrar" method="get">
                                                <button type="submit" class="btn peach-button btn-sm">Registrate</button>
                                            </form>
                                            <!-- Botón de inicio de sesión -->
                                            <form asp-area="" asp-controller="Account" asp-action="IniciarSesion" method="get">
                                                <button type="submit" class="btn pink-button btn-sm">Iniciar sesión</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <span id="mensaje" style="color: #A65341; display: none;">Clickea el botón para cargar la base de datos.</span>
            <a id="botonPrecarga" asp-action="Seed" asp-controller="PreCarga" class="btn btn-stm btn-bordo">PRECARGA</a>
        </div>

        <script>
            // Obtener referencia al botón de precarga
            var botonPrecarga = document.getElementById("botonPrecarga");
            // Obtener referencia al mensaje
            var mensaje = document.getElementById("mensaje");

            // Agregar un evento mouseover al botón de precarga
            botonPrecarga.addEventListener("mouseover", function () {
                // Mostrar el mensaje
                mensaje.style.display = "block"; // "block" es para bloquear el mensaje mientras se pasa por arriba del boton
            });

            // Agregar un evento mouseout al botón de precarga
            botonPrecarga.addEventListener("mouseout", function () {
                // Ocultar el mensaje cuando el cursor sale del botón
                mensaje.style.display = "none";
            });

        </script>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
