@model IEnumerable<Categoria>

@{
    ViewData["Title"] = "Categoría";
}

<h1 style="color: #A65341">Categoría</h1>

@if (User.IsInRole(Config.MiembroRolName) || User.IsInRole(Config.AdministradorRolName))
{
    <a asp-action="Create" class="btn pink-button">Crear una categoría</a>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CategoriaId">Detalles</a>
                    @if (User.IsInRole(Config.MiembroRolName)|| User.IsInRole(Config.AdministradorRolName))
                    {
                        <a asp-action="Edit" asp-route-id="@item.CategoriaId">Editar</a>

                 }



                </td>
            </tr>
        }
    </tbody>
</table>
